<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
        I am a Graduate from IIITD with a Degree in Btech in Computer Science and Applied Mathematics Engineering. I have worked with small startups for my internship. I am profecient in DevOps and have worked with backend development, DevOps, CI/CD and testing. Few of the Tech stacks I have worked with Python, Django, Nodejs, React Native, Java Springboot, Docker, Kubernetes, Ansible, Puppet and Jenkins. I have aslo worked with multiple Machine and Deep learning libraries. 
        </p>
        <p>
           I am a disruptor, I love Developing Softwares and applications that have real world impact.
          My aim is to obtain a challenging position in a high quality engineering environment where my resourceful experience and academic skills will add value to organizational operations and vice versa.
           I'm looking for a Developers poition where I can colaborate in software development and design and implement pipleline for DevOps.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Completed Courses on FinTech and Financial Markets, And now aiming for micro master from IIM Banglore.
    			</li>
          <li>
            Completed Courses on blockchain Technology and Courses on IOT.
          <li>
            I am working with Sankalp NGO to provide kids from slums in Delhi proper education and understand and solve their day to day problems.
    			<li>
            Won 1st position in bug bounty organised by AssessPrep.
    			</li>
    			<li>
            Taught school kids in an internship by CampK12 on basic of html, css and js including hosting and deployment of nodejs server. I also taught them game devlopment in android, and animation using various tools.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
