<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
        I am a Graduate from IIITD, and i have worked with small startups for my internship. I am a profecient in full-stack and have worked with backend development, DevOps, CI/CD and testing. Few of the Tech stacks i have worked with are Python Django, Nodejs, React Native, Java Springboot, Docker, Kubernetes, Ansible, puppet jenkins and multiple machine and Deep learning libraries. 
        </p>
        <p>
           I love Developing Softwares and applications that have real world impact, i am a disruptor.
           While hard engineering problems are often intrinsically fun to tackle, I hope my knowledge can contribute and bring real life change for solving real customer problems with solid business logic.
           I'm looking for a Developers poition where i can colaborate in development as well as the whole system pipleline for devops.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Completed Courses on FinTech and Financial Markets, And now aiming for micro master from IIMB.
    			</li>
          <li>
            Completed Courses on blockchain Technology and Courses on IOT.
          <li>
            I am working with Sankalp NGO to provide kids from slums in Delhi proper education and understand and solve their day to day problems.
    			<li>
            Won 1st position in bug bounty organised by AssessPrep
    			</li>
    			<li>
            Taught school kids basic of html, css and js, this also included hosting and deployment of nodejs server. I also taught them game devlopment in android, and animation using various tools.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
