<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Deep learning</b>. It's an exciting time for machine learning. I'm working through several online classes, and swap articles with collegues.
			  </li>
			  <li>
				  <b>Software Development and DevOps</b>. Its a totally different feeling when you see a product you develop being used by customers and help them solve real life problems.
			  </li>
			  <li>
				  <b>Social Work and Netflix</b>. There is no happiness that can be compared to happiness recieved after social work. I am also an avid reader and love to bing watch all shows and movies.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Developed an ERP system for booking room and room management as my college Project.
    		</li>
  			<li>
          Developed a Bio Cancer API for detection and diagnosis in cancer patients, using django and ML/DL.
  			</li>
			<li>
			Helped setting up whole development to production streamline flow with devops and feedback system for a small startup in my internship.
			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           Event Manager at Esya, IIITD. (2016-2018)
  			</li>
  			<li>
  			  I love travelling and photography, I am who you call a Hodophile.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
