<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				  <b>Software Development and DevOps</b>. Its a totally different feeling when you see a product you develop being used by customers and help them solve real life problems.
			  </li>
			  <li>
				 <b>Deep learning</b>. I have developed few projects in the field of High frequency trading and Cancer diagnosis, and Oh boy they were fun projects.
			  </li>
			  <li>
				  <b>Social Work and Netflix</b>. There is no happiness that can be compared to happiness recieved after social work. I am also an avid reader and love to bing watch all shows and movies.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
		  <li>
          Online Education and Assessment platform (Product Research and Development).The project Comprised of many tasks including market research, application development, customer interaction, Finance and other aspects of entrepreneurship. For the application we used django framework and ML,NLP to develop the human-robot interaction bot for education.
    		</li>
  			<li>
          Developed a Java based system for booking room and room management.The Application included different privileges to students, faculty and admin,Using SQL database and javaFX MVC.
    		</li>
  			<li>
          Developed a Bio Cancer API for detection and diagnosis in cancer patients, using django and ML/DL.
  			</li>
			<li>
			Helped setting up whole development to production streamline flow with devops and feedback system for a small startup called Deep Blue Insights.
			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           Event Manager at Esya and Odyssey, IIITD. (2016-2018)
  			</li>
			<li>
			Gold Medalist in Swimming and a Dramebaaz by nature(Theater).
  			</li>
  			<li>
  			  I love travelling and photography, I am who you call a Hodophile.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
